@model Airport_Management_System.Models.Ticket

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/other.cshtml";
}
@section Main{
    <h2 class="fw-bold text-gray-800">Delete</h2>

    <h3 class="fw-bold text-gray-800">Are you sure you want to delete this Ticket?</h3>
    <div>
        @*<h4>Ticket</h4>*@
        <hr />
        <dl class="dl-horizontal">
            <dt class="fw-bold text-gray-800">
                <span>Ticket No</span>
                @*@Html.DisplayNameFor(model => model.Flight.Departure)*@
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Ticket_No)
            </dd>

            <dt class="fw-bold text-gray-800">
                <span>Flight ID</span>
                @*@Html.DisplayNameFor(model => model.Flight.Departure)*@
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Flight.Flight_ID)
            </dd>

            <dt class="fw-bold text-gray-800">
                @Html.DisplayNameFor(model => model.Passenger.CNIC)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Passenger.CNIC)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color fw-bold text-gray-800">
                <input type="submit" value="Delete" class="btn btn-default" /> |
                @Html.ActionLink("Back to List", "Index")
            </div>
        }
    </div>
    }