@model IEnumerable<Airport_Management_System.Models.Maintenance>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/index.cshtml";
}
@section Main{
    <h2 class="fw-bold text-gray-800">Maintenance Data</h2>
    <hr />
    <p class="fw-bold text-gray-800">
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr class="fw-bold text-gray-800">
            <th>
                <span>Maintenance ID</span>
                @*@Html.DisplayNameFor(model => model.Maintenance_ID)*@
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                <span>Cost(In $)</span>
                @*@Html.DisplayNameFor(model => model.Cost)*@
            </th>
            <th>
                <span>Airport Name</span>
                @*@Html.DisplayNameFor(model => model.Airport.Airport_Name)*@
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Maintenance_ID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cost)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Airport.Airport_Name)
                </td>
                <td class="fw-bold text-gray-800">
                    @Html.ActionLink("Edit", "Edit", new { id = item.Maintenance_ID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Maintenance_ID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Maintenance_ID })
                </td>
            </tr>
        }

    </table>
    }