@model Airport_Management_System.Models.Airport

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/index.cshtml";
}
<body>
    @section Main{
    <h2 class="card-label fw-bold text-dark">Add New Airport</h2>

    <div class="form-horizontal fw-bold text-gray-800">
        @*<h4>Airport</h4>*@
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <br />
            <span>Airport Name</span>
            @*@Html.LabelFor(model => model.Airport_Name, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <div class="col-md-10">
                @Html.EditorFor(model => model.Airport_Name, new { htmlAttributes = new { @class = "form-control", placeholder="Enter Airport Name" } })
                @Html.ValidationMessageFor(model => model.Airport_Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <br />
            <span>Size</span>
            @*@Html.LabelFor(model => model.Size, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <div class="col-md-10">
                @Html.EditorFor(model => model.Size, new { htmlAttributes = new { @class = "form-control", placeholder="Enter Airport Size" } })
                @Html.ValidationMessageFor(model => model.Size, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <br />
            <span>Area</span>
            @*@Html.LabelFor(model => model.Area, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <div class="col-md-10">
                @Html.EditorFor(model => model.Area, new { htmlAttributes = new { @class = "form-control", placeholder="Enter Area Name" } })
                @Html.ValidationMessageFor(model => model.Area, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <br />
            <span>City</span>
            @*@Html.LabelFor(model => model.City, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <div class="col-md-10">
                @Html.EditorFor(model => model.City, new { htmlAttributes = new { @class = "form-control", placeholder="Enter City Name" } })
                @Html.ValidationMessageFor(model => model.City, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <br />
            <span>Country</span>
            @*@Html.LabelFor(model => model.Country, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <div class="col-md-10">
                @Html.EditorFor(model => model.Country, new { htmlAttributes = new { @class = "form-control", placeholder="Enter Country Name" } })
                @Html.ValidationMessageFor(model => model.Country, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default fw-bold text-gray-800" />
            </div>
        </div>
    </div>

    <div class="fw-bold text-gray-800">
        @Html.ActionLink("Back to List", "Index")
    </div>
</body>
        }
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}