@model IEnumerable<Airport_Management_System.Models.Employee>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/index.cshtml";
}
@section Main{
    <h2 class="fw-bold text-gray-800">Employees Data</h2>
    <hr />
    <p class="fw-bold text-gray-800">
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr class="fw-bold text-gray-800">
            <th>
                <span>Employee ID</span>
                @*@Html.DisplayNameFor(model => model.Emp_ID)*@
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DOB)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Designation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gender)
            </th>
            <th>
                <span>House No</span>
                @*@Html.DisplayNameFor(model => model.H_no)*@
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Area)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Country)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Salary)
            </th>
            <th>
                <span>Phone No</span>
                @*@Html.DisplayNameFor(model => model.Phone_No)*@
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                <span>Airport Name</span>
                @*@Html.DisplayNameFor(model => model.Airport.Size)*@
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Emp_ID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DOB)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Designation)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Gender)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.H_no)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Area)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.City)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Country)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Salary)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Phone_No)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Airport.Airport_Name)
                </td>
                <td class="fw-bold text-gray-800">
                    @Html.ActionLink("Edit", "Edit", new { id = item.Emp_ID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Emp_ID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Emp_ID })
                </td>
            </tr>
        }

    </table>
}