@model Airport_Management_System.Models.Luggage

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/other.cshtml";
}
@section Main{
    <h2 class="fw-bold text-gray-800">Add Luggage</h2>


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal fw-bold text-gray-800">
            <h4>@*Luggage*@</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                <br />
                <span>Luggage ID</span>
                @*@Html.LabelFor(model => model.Luggage_Id, htmlAttributes: new { @class = "control-label col-md-2" })*@
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Luggage_Id, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter Luggage ID" } })
                    @Html.ValidationMessageFor(model => model.Luggage_Id, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <br />
                @Html.LabelFor(model => model.Weight, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Weight, new { htmlAttributes = new { @class = "form-control", Type = "number", placeholder = "Enter Weight in KGs" } })
                    @Html.ValidationMessageFor(model => model.Weight, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <br />
                @Html.LabelFor(model => model.CNIC, "CNIC", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("CNIC", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.CNIC, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <br />
                <span>Flight ID</span>
                @*@Html.LabelFor(model => model.Flight_ID, "Flight_ID", htmlAttributes: new { @class = "control-label col-md-2" })*@
                <div class="col-md-10">
                    @Html.DropDownList("Flight_ID", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Flight_ID, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default fw-bold text-gray-800" />
                </div>
            </div>
        </div>
    }

    <div class="fw-bold text-gray-800">
        @Html.ActionLink("Back to List", "Index")
    </div>
    }
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
