@model Airport_Management_System.Models.Boarding

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/other.cshtml";
}
@section Main{
    <h2 class="fw-bold text-gray-800">Detail of Boarding @Html.DisplayFor(model => model.Boarding_ID)</h2>

    <div>
        @*<h4>Boarding</h4>*@
        <hr />
        <dl class="dl-horizontal ">
            <dt class="fw-bold text-gray-800">
                <span>Boarding ID</span>
                @*@Html.DisplayNameFor(model => model.Time)*@
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Boarding_ID)
            </dd>

            <dt class="fw-bold text-gray-800">
                <span>Boarding Time</span>
                @*@Html.DisplayNameFor(model => model.Time)*@
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Time)
            </dd>

            <dt class="fw-bold text-gray-800">
                <span>Gate No</span>
                @*@Html.DisplayNameFor(model => model.Gate.Terminal_No)*@
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Gate.Gate_No)
            </dd>

            <dt class="fw-bold text-gray-800">
                <span>Schedule No</span>
                @*@Html.DisplayNameFor(model => model.Schedule.Airport_Name)*@
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Schedule.Schedule_No)
            </dd>

        </dl>
    </div>
    <p class="fw-bold text-gray-800">
        @Html.ActionLink("Edit", "Edit", new { id = Model.Boarding_ID }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
    }