@model Airport_Management_System.Models.Employee_Passenger

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/other.cshtml";
}
@section Main{
    <h2 class="fw-bold text-dark">Editing Employee @Html.DisplayFor(model => model.Emp_ID) Served Passenger @Html.DisplayFor(model => model.CNIC) Data</h2>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal fw-bold text-dark">
            <h4>@*Employee_Passenger*@</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.CNIC)

            @Html.HiddenFor(model => model.Emp_ID)

            <div class="form-group">
                <br />
                <span>Serving Time</span>
                @*@Html.LabelFor(model => model.Date, htmlAttributes: new { @class = "control-label col-md-2" })*@
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Date, new { htmlAttributes = new { @class = "form-control", Type = "datetime-local", id = "dateField", name="dateField" } })
                    @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-default fw-bold text-dark" />
                </div>
            </div>
        </div>
    }

    <div class="fw-bold text-dark">
        @Html.ActionLink("Back to List", "Index")
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
<script>
    $(document).ready(function () {
        // Get the current date and time in UTC to avoid timezone issues
        var today = new Date();
        var utcNow = new Date(today.getTime() - today.getTimezoneOffset() * 60000); // Convert to UTC

        // Format the current date and time to include seconds for accurate comparison
        var datePart = utcNow.toISOString().split('T')[0];
        var timePart = utcNow.toISOString().split('T')[1].substring(0, 5); // Only HH:mm format

        // Combine date and time into ISO format with 'T' separator
        var dateTime = datePart + 'T' + timePart;

        // Set the 'max' attribute for the date input field
        $('#dateField').attr('max', dateTime);
    });
</script>

}
